<h1>Blog Post</h1>
<h2>Click to see each blog post</h2>
<ul>
  <% @blog_list.each do |blog| %>
    <li>
      <%= link_to "Blog: #{blog.title}", blog_path(blog.id) %>
    </li>
  <% end %>
</ul>
<%= link_to "Create New Blog", new_path %>
